$dark-blue-grey: #221c49;
$dark-blue-grey-two: #171335;
$dark-navy-blue: #010011;
$dark-navy-blue-two: #01000c;
$darkish-purple: #6f2284;
$bluey-grey: #a8a6bc;
$bluey-grey-two: #201C47;
$dark: #130f2b;
$green: #00ddc2;
$dark-two: #120E2A;
$white: #FFFFFF;
